.slideshow {
	position: relative;
	width: 100%;
	height: 100%;
	contain: strict;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-start;
}

.slideshow--row {
	flex-direction: row;
	/* justify-content: flex-start; */
}

.slideshow--row-reverse {
	flex-direction: row-reverse;
	/* justify-content: flex-end; */
}

.slideshow--column {
	flex-direction: column;
	/* justify-content: flex-start; */
}

.slideshow--column-reverse {
	flex-direction: column-reverse;
	/* justify-content: flex-end; */
}

.slideshow > * {
	flex-shrink: 0;
}
