.slideshow__slide {
	box-sizing: border-box;
	flex-basis: calc(var(--ss-length) * var(--ss-unit));
}

.slideshow--docked > .slideshow__slide {
	position: sticky;
}

.slideshow--docked.slideshow--row > .slideshow__slide {
	left: calc(var(--ss-position) * var(--ss-unit));
}

.slideshow--docked.slideshow--row-reverse > .slideshow__slide {
	right: calc(var(--ss-position) * var(--ss-unit));
}

.slideshow--docked.slideshow--column > .slideshow__slide {
	top: calc(var(--ss-position) * var(--ss-unit));
}

.slideshow--docked.slideshow--column-reverse > .slideshow__slide {
	bottom: calc(var(--ss-position) * var(--ss-unit));
}

.slideshow__expander:first-of-type {
	flex-basis: calc(var(--ss-expand-start) * var(--ss-unit));
	order: -999999;
}

.slideshow__expander:last-of-type {
	flex-basis: calc(var(--ss-expand-end) * var(--ss-unit));
	order: 999999;
}
