.slideshow--row,
.slideshow--row-reverse {
	overflow: hidden clip;
}

.slideshow--column,
.slideshow--column-reverse {
	overflow: clip hidden;
}

.slideshow--row.slideshow--scrollable,
.slideshow--row-reverse.slideshow--scrollable {
	overflow: scroll clip;
}

.slideshow--column.slideshow--scrollable,
.slideshow--column-reverse.slideshow--scrollable {
	overflow: clip scroll;
}
