.cdv-presentation__viewport {
	position: relative;
	contain: strict;
}

.cdv-presentation__viewport--horizontal {
	overflow: hidden clip;
}

.cdv-presentation__viewport--vertical {
	overflow: clip hidden;
}

.cdv-presentation__viewport--scrollable.cdv-presentation__viewport--horizontal {
	overflow: scroll clip;
}

.cdv-presentation__viewport--scrollable.cdv-presentation__viewport--vertical {
	overflow: clip scroll;
}

.cdv-presentation__slide,
.cdv-presentation__expander {
	position: absolute;
	display: inline-block;
}

.cdv-presentation__slide--docked {
	position: sticky;
}

.cdv-presentation__viewport--horizontal > .cdv-presentation__slide,
.cdv-presentation__viewport--horizontal > .cdv-presentation__expander {
	top: 0;
	bottom: 0;
	height: 100%;
}

.cdv-presentation__viewport--vertical > .cdv-presentation__slide,
.cdv-presentation__viewport--vertical > .cdv-presentation__expander {
	left: 0;
	right: 0;
	width: 100%;
}

.cdv-animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-play-state: paused;
}
