.cdv-presentation__viewport {
	position: relative;
	contain: strict;
}

.cdv-presentation__viewport--horizontal {
	overflow-x: scroll;
}

.cdv-presentation__viewport--vertical {
	overflow-y: scroll;
}

.cdv-presentation__slide,
.cdv-presentation__expander {
	position: absolute;
}

.cdv-presentation__slide--docked {
	position: sticky;
}

.cdv-presentation__viewport--horizontal > .cdv-presentation__slide,
.cdv-presentation__viewport--horizontal > .cdv-presentation__expander {
	top: 0;
	bottom: 0;
}

.cdv-presentation__viewport--vertical > .cdv-presentation__slide,
.cdv-presentation__viewport--vertical > .cdv-presentation__expander {
	left: 0;
	right: 0;
}

.cdv-animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-play-state: paused;
}
