html, body {
	margin: 0;
	padding: 0;
}

* {
	font: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.slideshow {
	position: fixed;
	inset: 0;
}

.slideshow__slide:nth-child(2) {
	background: hsla(0, 100%, 50%, 0.2);
}

.slideshow__slide:nth-child(3) {
	background: hsla(60, 100%, 50%, 0.2);
}

.slideshow__slide:nth-child(4) {
	background: hsla(120, 100%, 50%, 0.2);
}

.slideshow__slide:nth-child(5) {
	background: hsla(180, 100%, 50%, 0.2);
}

.slideshow__slide:nth-child(6) {
	background: hsla(240, 100%, 50%, 0.2);
}

