.navigation {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9999;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(48px);
	background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 95%, rgba(255, 255, 255, .1) 100%);
	user-select: none;
}

.navigation__button {
	display: inline-block;
	position: relative;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	font-weight: 500;
	cursor: pointer;
	color: rgba(0, 0, 0, .5);
	transition: color .2s linear;
}

.navigation__button:hover {
	color: rgba(0, 0, 0, .9);
}

.navigation__item--active .navigation__button {
	color: rgba(0, 0, 0, 1);
}

.navigation__button::after {
	--scale: scale3d(0.8, 1, 1);
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: inline-block;
	height: .3rem;
	background: rgba(0, 0, 0, .5);
	transition: opacity 0s linear 50ms, transform 50ms ease-in;
	opacity: 0;
	transform: var(--scale) translate3d(50%, 0, 0);
}

.navigation__item--active > .navigation__button::after {
	transition: opacity 0s linear 50ms, transform 50ms ease-out 50ms;
	opacity: 1;
	transform: var(--scale) translate3d(0, 0, 0);
}

.navigation__item--active + .navigation__item > .navigation__button::after {
	transform: var(--scale) translate3d(-50%, 0, 0);
}
