.slideshow {
	position: relative;
	contain: strict;
}

.slideshow--left-to-right,
.slideshow--right-to-left {
	overflow: hidden clip;
}

.slideshow--top-to-bottom,
.slideshow--bottom-to-top {
	overflow: clip hidden;
}

.slideshow--left-to-right.slideshow--scrollable,
.slideshow--right-to-left.slideshow--scrollable {
	overflow: scroll clip;
}

.slideshow--top-to-bottom.slideshow--scrollable,
.slideshow--bottom-to-top.slideshow--scrollable {
	overflow: clip scroll;
}

.slideshow__expander {
	position: absolute;
	top: 0;
	left: 0;
}

.slideshow--left-to-right > .slideshow__expander,
.slideshow--right-to-left > .slideshow__expander {
	width: calc(var(--slideshow-length) * var(--slideshow-unit));
	height: 100%;
}

.slideshow--top-to-bottom > .slideshow__expander,
.slideshow--bottom-to-top > .slideshow__expander {
	width: 100%;
	height: calc(var(--slideshow-length) * var(--slideshow-unit));
}
