.transitions {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .5);
}

.transitions__header {
	position: absolute;
	font-size: 5rem;
	top: 5rem;
	right: 1rem;
	margin: 0;
}
