.transitions {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.transitions__header {
	position: absolute;
	font-size: 5rem;
	top: 5rem;
	right: 1rem;
	margin: 0;
}

.cdv-presentation__viewport--horizontal .transitions {
	background: linear-gradient(to left, rgba(0, 0, 0, .5) 1px, transparent 0);
}

.cdv-presentation__viewport--vertical .transitions {
	background: linear-gradient(to top, rgba(0, 0, 0, .5) 1px, transparent 0);
}
